---
import '@/styles/global.css'
import { Code } from 'astro:components'
import type { CodeLanguage } from 'astro'

export const prerender = false

/**
 * GET /docs/snippet?lang=typescript&theme=github-dark&code="console.log('hello, world!');"
 *
 * Displays a code snippet.
 */

const code =
  Astro.url.searchParams.get('code') ?? 'console.log("hello, world!")'
const lang = Astro.url.searchParams.get('lang') ?? 'javascript'
const theme = Astro.url.searchParams.get('theme') ?? 'github-dark'
const className = Astro.url.searchParams.get('className')
---

<!doctype html>
<html>
  <body class:list={['min-h-0 bg-transparent w-full m-0']}>
    <Code
      id="code-snippet"
      class:list={['w-full bg-transparent text-md', className]}
      code={code}
      lang={lang as CodeLanguage}
      theme={theme as any}
    />
    <script>
      const updateHeight = () => {
        const height =
          document.getElementById('code-snippet')?.clientHeight ?? 0
        window.parent.postMessage({ type: 'resize', height }, '*')
      }

      window.addEventListener('message', (e) => {
        console.log('[iframe] received message!')
        updateHeight()
      })

      document.addEventListener('DOMContentLoaded', () => {
        console.log('[iframe] conent loaded!')
        updateHeight()
        new ResizeObserver(updateHeight).observe(document.body)
      })
    </script>
  </body>
</html>

<style is:global>
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  html,
  body {
    /* min-height: fit-content !important; */
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  pre {
    background-color: transparent !important;
    font-size: 14px;
  }
</style>
