@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

*:focus {
  outline: none;
}

html {
  background-color: #141E30;
  background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
  font-family: monospace;
  letter-spacing: 0.1ch;
  font-size: 1.1em;
  ;
  line-height: 24px;
  block-size: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: none;
  padding: none;
  font-family: "Rubik", sans-serif;
  color: #E4E5E6;
}

body {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 2em;
  padding: none;
  flex: 1;
}

container {
  column-gap: 2em;
  display: flex;
  margin: 1em;
  flex: 1;
}

content {
  flex-direction: column;
  max-height: fit-content;
  max-width: fit-content;
  /* min-width: 320px; */
  resize: horizontal;
  overflow: auto;
  display: flex;
  column-gap: 2em;
}

sidepanel {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  row-gap: 1em;
  margin: 1em;
  flex: 1;
}

stream {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  resize: horizontal;
  overflow: auto;
  min-width: 50%;
  margin: 1em;
}

logo {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  padding: 1em;
  margin: 1em;
}

about {
  display: flex;
  padding: 1em;
}

table {
  white-space: nowrap;
  overflow: auto;
}

.darkframe {
  background: rgb(13, 13, 13);
  border: 1px solid rgb(30, 31, 31);
  border-radius: .5ch;
  padding: 8px;
  color: #ddd;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: monospace;
  color: #666;
}

.editor {
  display: flex;
  overflow-x: hidden;
  border-radius: 20px;
  padding: 1em;
  background: rgb(13, 13, 13);
  border: 1px solid rgb(30, 31, 31);
  border-radius: .5ch;
  padding: 8px;
  color: #ddd;
  font-size: 1.4em;
  height: 220px;
  resize: vertical;
}

.buttons {}

button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  height: 44px;
  width: 100%;
}

table tr {
  display: flex;
}

.orange {
  color: orange
}