html {
  background-color: #11112c;
  background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 4em);
  max-width: calc(100vw - 4em);
  overflow: hidden;
  margin: 2em;
  padding: none;
}

body {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  flex: 1;
  height: 100%;
  margin-bottom: 2em;
}

form {
  border-radius: 20px;
}

header {
  margin-bottom: 2em;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 440px;
  max-width: 50%;
  row-gap: 2em;
  flex: 1;
}

*:focus {
  outline: none;
}

.buttons {
  margin-top: 16px;
}

logo a {
  text-decoration: none;;
}

#code {
  word-wrap: break-word;
  word-break: break-all;
  font-family: monospace;
  min-width: 720px;
  min-height: 400px;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  padding: 1em;
  margin: 0;
}

stream {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  min-width: 50%;
  flex-basis: auto;
}

stream table {
  width: 100%;
  border-collapse: separate;
}

h2 {
  text-align: right;
  margin-right: 4em;
}

.dump {
  color: orange
}

input[type="text"] {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: monospace;
  color: #666;
  border-radius: 10px;
  margin-bottom: 1em;
  background-color: white;
  padding: 1rem;
}

sessions {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  border-radius: 20px;
}

about {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1.1px;
  line-height: 24px;
  font-size: 1.2em;
  padding: 1em;
}

about a {
  text-decoration: none;
  color: orange;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0f0c29;
  border-radius: 0;
  /* box-shadow: inset 0 0 5px grey; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24243e;
  border-radius: 4px;
  width:8px;
}

.centered-content {
  flex-direction: column;
  row-gap: 2em;
  display: flex;
  flex-shrink: 1;
}

.link {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: monospace;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.link a {
  color: orange;
  text-decoration: none;
  font-family: monospace;
  line-height: 24px;
  font-size: 1rem;
}

.link a:hover {
  text-decoration: underline;
}

.editor {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: monospace;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}