@import "button.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
@custom-media --OSdark (prefers-color-scheme: dark);

html {
  background-color: #11112c;
  background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 4em);
  max-width: calc(100vw - 4em);
  overflow: hidden;
  margin: 2em;
  padding: none;
}

body {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  flex: 1;
  height: 100%;
  margin-bottom: 2em;
}

form {
  border-radius: 20px;
}

header {
  margin-bottom: 2em;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 440px;
  max-width: 50%;
  row-gap: 2em;
  flex: 1;
}

*:focus {
  outline: none;
}

.buttons {
  margin-top: 16px;
}


snippet {
  background-color: black;
  font-size: 1vw;
  border-radius: 10px;
  color: greenyellow;
  overflow-x: auto;
  padding: 2rem;
}


#code {
  word-wrap: break-word;
  word-break: break-all;
  font-family: monospace;
  min-width: 720px;
  min-height: 400px;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  padding: 1em;
  margin: 0;
}

stream {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  min-width: 50%;
  flex-basis: auto;
}

stream table {
  width: 100%;
  border-collapse: separate;
}

h2 {
  text-align: right;
  margin-right: 4em;
}

.dump {
  color: orange
}

input[type="text"] {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: monospace;
  color: #666;
  border-radius: 10px;
  margin-bottom: 1em;
  background-color: white;
  padding: 1rem;
}

sessions {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  border-radius: 20px;
}

about {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1.1px;
  line-height: 24px;
  font-size: 1.2em;
  padding: 1em;
}

about a {
  text-decoration: none;
  color: orange;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0f0c29;
  border-radius: 0;
  /* box-shadow: inset 0 0 5px grey; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24243e;
  border-radius: 4px;
  width:8px;
}

.centered-content {
  flex-direction: column;
  row-gap: 2em;
  display: flex;
  flex-shrink: 1;
}

.link {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: monospace;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.link a {
  color: orange;
  text-decoration: none;
  font-family: monospace;
  line-height: 24px;
  font-size: 1rem;
}

.link a:hover {
  text-decoration: underline;
}

.editor {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: monospace;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}


html {
  block-size: 100%;
  font-family: system-ui, sans-serif;

  @media (--OSdark) {
    background-color: hsl(210deg 11% 15%);
  }
}

a {
  text-decoration: none;
}

/* body {
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5vmin;
  padding-inline: 5vmin;

  @media (width <=720px) {
    padding-block: 10vmin;
  }
} */

body,
h2,
p {
  margin: 0;
}

form {
  background: rgb(13, 13, 13);
  border: 1px solid rgb(30, 31, 31);
  border-radius: .5ch;
  padding: 8px;
  color: #ddd;
  font-size: 1.4em;

  @media (--OSdark) {
    background: hsl(210deg 10% 23%);
    border: 1px solid hsl(210deg 9% 31%);
  }
}

.fluid-flex {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  align-items: flex-start;
  padding: 2ch;
  gap: 2ch;
}

section {
  display: grid;
  gap: 1ch;
  text-align: center;
}

.red-squigly {
  text-decoration: red underline wavy;
}

.github-corner {
  position: absolute;
  right: 4px;
  width: 80px;
  height: 80px;
  fill: var(--surface-4);
  color: var(--surface-1);

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }

  &>svg {
    fill: inherit;
    stroke: inherit;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

/* fancy title */

.logo h1 {
  text-transform: Uppercase;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  color: #E4E5E6;
  margin: 0;
}

.logo h1 {
  position: relative;
  background: linear-gradient(to right, #24243e, #141E30, #1b1b25);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.logo a {
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

.logo h1:before,
.logo h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.logo h1:before {
  z-index: -1;
  text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
}

.logo h1:after {
  z-index: -2;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
}

logo h2 {
  margin-top: -1.15em;
  font-family: "Pirata One", cursive;
  font-size: 3rem;
  color: #F7971E;
  text-align: center;
}

logo h2 spam {
  font-size: 0.5em;
}


/* Table Styling */


stream {
  border-radius: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 4em);
  height: 100%;
}

.styled-table {
  border-collapse: separate;
  margin: 25px 0;
  font-family: sans-serif;
  font-size: 1.2em;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  /* border-radius: 4px; */
  border: none;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1.2px;
  font-family: monospace;
}

.styled-table thead tr {
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  /* border-bottom: 1px solid #dddddd; */
}

.styled-table tbody tr:nth-of-type(even) {
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.styled-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}

.styled-table tbody tr.active-row {
  /* font-weight: bold;
  color: orange; */
  border: none;
}

/* table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
  
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
} */

table {
  border: none;
  white-space: nowrap;
}

table tr {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  border:none;
}

table td {
}

table, table td, table tr {
  border-color: transparent;
  border: none;

}

table, table * {  
  border-width: 0px;
  border-color: transparent;
  outline: none;
  border: none;
}

table td:first-child {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.3);
}
table td:last-child {
  display: flex;
  flex-grow: 1;
}