<div
  class="min-h-screen w-full inset-0 absolute overflow-hidden -z-10 bg-gradient-radial from-transparent via-neutral-600 to-neutral-950 to-100%"
>
  <iframe
    class="bg-transparent"
    src="https://my.spline.design/particles-e60429f4a3023dfeecd4752aea2c7cef/"
    frameborder="0"
    width="100%"
    height="100%"></iframe>
</div>
