---
import Layout from '@/layouts/Layout.astro'

export const prerender = false

const { slug: streamId } = Astro.params

console.log(`[route:${streamId}] connecting...`)
---

<Layout
  class:list="min-h-screen bg-black font-mono w-full flex flex-col p-2 text-green-400"
>
  <div class:list="flex flex-1 flex-col gap-1" id="container"></div>
</Layout>

<script>
  import { StreamClient } from '@/lib/client/stream-client'

  const streamId = window.location.pathname.replace('/', '')
  const container = document.getElementById('container')!

  const client = new StreamClient(streamId)

  client.on((message) => {
    const item = document.createElement('div')
    item.setAttribute('class', 'flex flex-row')
    item.textContent = message.format()
    container.appendChild(item)
  })
</script>
