---
import Layout from '@/layouts/Layout.astro'

export const prerender = false
---

<Layout class:list="min-h-screen bg-black font-mono w-full flex flex-col p-2 overscroll-y-contain">
  <div class="overflow-y-scroll min-h-screen overscroll-y-auto mt-14 pb-14">
    <div class:list="flex flex-1 flex-col gap-2 min-h-full pb-16" id="container"></div>
  </div>
  <div
    class="hidden sm:flex absolute *:text-sm top-14 border-[0.5px] border-neutral-700 bg-black rounded right-2 gap-x-1 items-center justify-center *:opacity-50 *:hover:opacity-100 *:text-orange-400 op *:bg-transparent *:px-2 *:py-1"
  >
    <button id="btn-download" class="border-r-[0.5px] border-neutral-700">Download</button>
    <button id="btn-clear" class="border-r-[0.5px] border-neutral-700">Clear</button>
    <button id="btn-scroll-bottom">Scroll to bottom</button>
  </div>
</Layout>

<template id="message">
  <div class="item flex flex-row gap-x-2 py-0.5 px-4 flex-nowrap font-mono font-thin text-sm">
    <p class="item-time text-neutral-800 text-sm font-semibold"></p>
    <p class="item-type px-2 font-bold"></p>
    <p class="item-data text-neutral-400 text-nowrap"></p>
  </div>
</template>

<style is:global>
  .item:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.03);
  }

  code {
    cursor: pointer;
    transition: background-color 0.2s;
  }
  code:hover {
    background-color: rgba(59, 130, 246, 0.1);
  }
  code.copied {
    background-color: #10b981;
    color: white;
  }
</style>

<script>
  const dump = (...args: any[]) =>
    fetch('/api/v2?id=123456', {
      method: 'POST',
      body: JSON.stringify(args),
    })

  const eventSource = new EventSource('/api/v2?id=123456')
  eventSource.onopen = () => {
    console.log('event source opened!')
    dump({ client: 'connected' })
  }

  eventSource.onerror = (ev) => {
    console.warn('event source error:', ev)
    eventSource.close()
  }

  eventSource.onmessage = (ev) => {
    console.log(ev.data)
  }

  // @ts-ignore
  console.dump = dump
</script>
