---
import '@/styles/global.css'
import Navigation from '@/components/Navigation.astro'

interface Props {
  class?: string
}

const className = Astro.props.class

import SiteHead from '@/components/SiteHead.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <SiteHead />
    <style>
      article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      article code {
        padding: 4px;
      }
    </style>
  </head>
  <body
    class:list={[
      'flex flex-col flex-1 max-h-screen bg-black font-mono overflow-hidden',
      className,
    ]}
  >
    <Navigation class:list={['absolute top-0 left-0 right-0']} />
    <article class="w-3xl text-white mt-24 mx-auto">
      <slot />
    </article>
  </body>
</html>
