---
import '@/styles/global.css'
import SiteHead from '@/components/astro/site-head.astro'

interface Props {
  class?: string
}

const className = Astro.props.class
---

<!doctype html>
<html lang="en">
  <head>
    <SiteHead />
  </head>
  <body class:list={['flex flex-col flex-1 w-full max-h-screen bg-black font-mono overflow-hidden', className]}>
    <slot />
  </body>
</html>
